<!DOCTYPE html>
<html lang="<%= lang || 'en' %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="refresh" content="0; url=cheatsheet.html">
  <title><%= (typeof ui !== 'undefined' && ui && ui['jQuery API Documentation']) || 'jQuery API Documentation' %></title>
</head>
<body>
<p style="text-align:center;margin-top:40px"><%= (typeof ui !== 'undefined' && ui && ui['Redirecting to']) || 'Redirecting to' %> <a href="cheatsheet.html"><%= (typeof ui !== 'undefined' && ui && ui['Cheatsheet']) || 'Cheatsheet' %></a>...</p>
</body>
</html>
